@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --bg-color: #0f172a;
  --imp-text-color: #ccc;
  --border-color: #70747d;
  --text-color-white: #fff;
  --outline-focus: #cccccc38;
}

.root {
  margin: 0;
  padding: 2rem;
  display: grid;
  grid-auto-flow: row;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: var(--text-color-white);
  background-color: var(--bg-color);
  font-family: "Josefin Sans", sans-serif;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.75rem !important;
}

.p-3 {
  padding: 1.25rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 1.75rem !important;
}

.p-6 {
  padding: 2rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.75rem !important;
}

.pt-3 {
  padding-top: 1.25rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 1.75rem !important;
}

.pt-6 {
  padding-top: 2rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.75rem !important;
}

.pr-3 {
  padding-right: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.25rem !important;
}

.pr-5 {
  padding-right: 1.75rem !important;
}

.pr-6 {
  padding-right: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.75rem !important;
}

.pb-3 {
  padding-bottom: 1.25rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 1.75rem !important;
}

.pb-6 {
  padding-bottom: 2rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.75rem !important;
}

.pl-3 {
  padding-left: 1.25rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 1.75rem !important;
}

.pl-6 {
  padding-left: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.75rem !important;
}

.m-3 {
  margin: 1.25rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 1.75rem !important;
}

.m-6 {
  margin: 2rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.75rem !important;
}

.mt-3 {
  margin-top: 1.25rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 1.75rem !important;
}

.mt-6 {
  margin-top: 2rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.75rem !important;
}

.mr-3 {
  margin-right: 1.25rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 1.75rem !important;
}

.mr-6 {
  margin-right: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.75rem !important;
}

.mb-3 {
  margin-bottom: 1.25rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 1.75rem !important;
}

.mb-6 {
  margin-bottom: 2rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.75rem !important;
}

.ml-3 {
  margin-left: 1.25rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 1.75rem !important;
}

.ml-6 {
  margin-left: 2rem !important;
}

.grid {
  display: grid;
}

.grid-auto-rows {
  display: grid;
  grid-auto-flow: row;
}

.grid-auto-columns {
  display: grid;
  grid-gap: 2rem;
  width: max-content;
  align-items: center;
  grid-auto-flow: column;
}

.gap-0 {
  grid-gap: 0;
}

.gap-1 {
  grid-gap: 1rem;
}

.gap-2 {
  grid-gap: 2rem;
}

.gap-3 {
  grid-gap: 3rem;
}

.gap-4 {
  grid-gap: 4rem;
}

.gap-5 {
  grid-gap: 5rem;
}

.gap-6 {
  grid-gap: 6rem;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.h1 {
  font-size: 0.25rem;
}

.h2 {
  font-size: 0.75rem;
}

.h3 {
  font-size: 1.25rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.75rem;
}

.h6 {
  font-size: 2rem;
}

.p {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

hr {
  width: 100%;
  background-color: var(--text-color-white);
}

.tag {
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: 0.375em;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
}

.box {
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  width: min-content;
  height: max-content;
  border: 1px solid var(--border-color);
}

.box-img {
  background-color: var(--border-color);
}

.box-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
  font-weight: 700;
  text-transform: capitalize;
}

.box-body {
  margin-bottom: 0.5rem;
}

.form {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
  border-radius: 0.375rem;
  border: 1px solid var(--border-color);
}

.select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  text-transform: capitalize;
  color: var(--imp-text-color);
  border: 1px solid var(--border-color);
  background-color: transparent;
}

.select:focus {
  outline: 0.2rem solid var(--outline-focus);
}

.option {
  text-transform: capitalize;
}

.input {
  height: 2rem;
  outline: none;
  color: var(--imp-text-color);
}

.input[type="checkbox"] {
  margin: 0;
  height: unset;
  width: min-content;
}

.label {
  width: min-content;
}

table {
  width: -moz-available;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
}

th {
  padding: 0.5rem;
  text-align: left;
  font-weight: bold;
  border: 1px solid var(--border-color);
}

td {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

.header {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: space-between;
}

.container {
  display: block;
  padding: 1rem 0;
}

.navbar {
  display: block;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: column;
}

.navbar-ul-li {
  list-style: none;
}

.navbar-ul-li:hover {
  color: #ccc;
  cursor: pointer;
}

.side-navbar {
  width: 25%;
  height: 100%;
  float: left;
  display: block;
  position: relative;
}

.button {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 700;
  width: fit-content;
  display: inline-block;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  text-transform: capitalize;
  color: var(--imp-text-color);
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
}

.button:hover {
  color: #05137a;
  background-color: var(--imp-text-color);
}

.image {
  width: 100%;
  border-radius: 0.375rem;
}

.image-rounded {
  width: 100%;
  border-radius: 50%;
}

.image-size-small {
  width: 20% !important;
}

.image-size-quarter {
  width: 25% !important;
}

.image-size-half {
  width: 50% !important;
}

.image-size-three-quarters {
  width: 75% !important;
}

@media screen and (min-width: 1200px) {
  .root {
    padding: 2rem 4rem;
  }

  .form {
    width: 20rem;
  }

  table {
    width: 50%;
  }

  .res-grid-auto-rows {
    grid-auto-flow: column;
  }

  .res-grid-auto-columns {
    grid-auto-flow: row;
  }
}